src/schemas/nav/gov/hu/OPF/cashRegisterApi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
# Projekt: Magyar Online Pénztárgép Rendszer cashRegisterApi XML XSD séma
# Author: NAV Informatikai Intézet

# Version: v1.0 2019/11/10
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns="http://schemas.nav.gov.hu/OPF/1.0/api" targetNamespace="http://schemas.nav.gov.hu/OPF/1.0/api" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="QueryCashRegisterFileDataRequest">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A naplóállomány lekérdezés operáció kérése</xs:documentation>
			<xs:documentation xml:lang="en">Request element of the cash register file query operation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="QueryCashRegisterFileDataRequestType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryCashRegisterFileDataResponse">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A naplóállomány lekérdezés operáció válasza</xs:documentation>
			<xs:documentation xml:lang="en">Response element of the cash register file query operation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="QueryCashRegisterFileDataResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryCashRegisterStatusRequest">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A pénztárgép állapot lekérdezés operáció kérése</xs:documentation>
			<xs:documentation xml:lang="en">Request element of the cash register status query operation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="QueryCashRegisterStatusRequestType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryCashRegisterStatusResponse">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A pénztárgép állapot lekérdezés operáció válasza</xs:documentation>
			<xs:documentation xml:lang="en">Response element of the cash register status query operation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="QueryCashRegisterStatusResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="APNumberListType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A lekérdezett naplóállományok listája</xs:documentation>
			<xs:documentation xml:lang="en">List of cash register files</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="APNumber" type="APNumberType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Pénztárgép AP száma, amelyre a lekérdezés vonatkozik</xs:documentation>
					<xs:documentation xml:lang="en">Cash register AP number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasicHeaderType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A kérés tranzakcionális adatai</xs:documentation>
			<xs:documentation xml:lang="en">Transactional data of the request</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="requestId" type="EntityIdType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kérés/válasz azonosítója, minden üzenetváltásnál - adószámonként - egyedi</xs:documentation>
					<xs:documentation xml:lang="en">Identifier of the request/response, unique with the taxnumber in every data exchange transaction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timestamp" type="TimestampType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kérés/válasz keletkezésének UTC ideje</xs:documentation>
					<xs:documentation xml:lang="en">UTC time of the request/response</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestVersion" type="RequestVersionType" default="1.0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kérés/válasz verziószáma, hogy a hívó melyik interfész verzió szerint küld adatot és várja a választ</xs:documentation>
					<xs:documentation xml:lang="en">Request version number, indicating which datastructure the client sends data in, and in which the response is expected</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="headerVersion" type="HeaderVersionType" default="1.0" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A header verziószáma</xs:documentation>
					<xs:documentation xml:lang="en">Header version number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasicRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Alap kérés adatok</xs:documentation>
			<xs:documentation xml:lang="en">Basic request data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header" type="BasicHeaderType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kérés tranzakcionális adatai</xs:documentation>
					<xs:documentation xml:lang="en">Transactional data of the request</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="user" type="UserHeaderType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kérés authentikációs adatai</xs:documentation>
					<xs:documentation xml:lang="en">Authentication data of the request</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="software" type="SoftwareType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kliensprogram adatai</xs:documentation>
					<xs:documentation xml:lang="en">Client software data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasicResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Alap válasz adatok</xs:documentation>
			<xs:documentation xml:lang="en">Basic response data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header" type="BasicHeaderType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A válasz tranzakcionális adatai</xs:documentation>
					<xs:documentation xml:lang="en">Transactional data of the response</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="result" type="BasicResultType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Alap válaszeredmény adatok</xs:documentation>
					<xs:documentation xml:lang="en">Basic result data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="software" type="SoftwareType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kliensprogram adatai</xs:documentation>
					<xs:documentation xml:lang="en">Client software data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasicResultType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Alap válaszeredmény adatok</xs:documentation>
			<xs:documentation xml:lang="en">Basic result data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="funcCode" type="FunctionCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Feldolgozási eredmény</xs:documentation>
					<xs:documentation xml:lang="en">Processing result</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="errorCode" type="SimpleText50NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A feldolgozási hibakód</xs:documentation>
					<xs:documentation xml:lang="en">Processing error code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="message" type="SimpleText1024NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Feldolgozási üzenet</xs:documentation>
					<xs:documentation xml:lang="en">Processing message</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashRegisterFileDataListType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A lekérdezett naplóállományok listája</xs:documentation>
			<xs:documentation xml:lang="en">List of cash register files</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cashRegisterFileData" type="CashRegisterFileDataType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Egy naplóállomány adata</xs:documentation>
					<xs:documentation xml:lang="en">Data of one cash register file</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashRegisterFileDataResultType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Naplóállomány lekérdezés eredménye</xs:documentation>
			<xs:documentation xml:lang="en">Cash register file query result</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cashRegisterFileDataList" type="CashRegisterFileDataListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Naplóállományok listája</xs:documentation>
					<xs:documentation xml:lang="en">List of cash register files</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="allFilesSent" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Az összes kért állomány visszaadásra került</xs:documentation>
					<xs:documentation xml:lang="en">All requested files are sent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filesNotSentReason" type="FilesNotSentReasonType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Annak az oka, hogy miért nem lett az összes kért naplóállomány elküldve</xs:documentation>
					<xs:documentation xml:lang="en">Reason of not all requested files sent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minAvailableFileNumber" type="FileNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A lekérdezhető legkisebb sorszámú állomány</xs:documentation>
					<xs:documentation xml:lang="en">First available cash register file number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxAvailableFileNumber" type="FileNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A lekérdezhető legnagyobb sorszámú állomány</xs:documentation>
					<xs:documentation xml:lang="en">Last available cash register file number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashRegisterFileDataQueryType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Pénztárgép naplóállomány lekérdezés paramétere</xs:documentation>
			<xs:documentation xml:lang="en">Cash register file query parameter</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="APNumber" type="APNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Pénztárgép AP száma, amelyre a lekérdezés vonatkozik</xs:documentation>
					<xs:documentation xml:lang="en">Cash register AP number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileNumberStart" type="FileNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Első lekérdezett naplóállomány sorszáma</xs:documentation>
					<xs:documentation xml:lang="en">First cash register file number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileNumberEnd" type="FileNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Utolsó lekérdezett naplóállomány sorszáma</xs:documentation>
					<xs:documentation xml:lang="en">Last cash register file number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashRegisterStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Pénztárgép állapota</xs:documentation>
			<xs:documentation xml:lang="en">Cash register status</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="APNumber" type="APNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Pénztárgép AP száma</xs:documentation>
					<xs:documentation xml:lang="en">Cash register AP number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastCommunicationDate" type="TimestampType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Utolsó kommunikáció dátuma</xs:documentation>
					<xs:documentation xml:lang="en">Last communication date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastFileDate" type="TimestampType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Utolsó állományküldés dátuma</xs:documentation>
					<xs:documentation xml:lang="en">Date of the last sent file</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minAvailableFileNumber" type="FileNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A lekérdezhető legkisebb sorszámú állomány</xs:documentation>
					<xs:documentation xml:lang="en">First available cash register file number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxAvailableFileNumber" type="FileNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A lekérdezhető legnagyobb sorszámú állomány</xs:documentation>
					<xs:documentation xml:lang="en">Last available cash register file number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashRegisterStatusListType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Pénztárgépek állapotainak listája</xs:documentation>
			<xs:documentation xml:lang="en">List of cash register status</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cashRegisterStatus" type="CashRegisterStatusType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Pénztárgép állapota</xs:documentation>
					<xs:documentation xml:lang="en">Cash register status</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashRegisterStatusResultType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Pénztárgép állapot lekérdezés eredménye</xs:documentation>
			<xs:documentation xml:lang="en">Cash register status query result</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cashRegisterStatusList" type="CashRegisterStatusListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Pénztárgépek állapotainak listája</xs:documentation>
					<xs:documentation xml:lang="en">List of cash register status</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashRegisterStatusQueryType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A pénztárgép állapot lekérdezés paramétere</xs:documentation>
			<xs:documentation xml:lang="en">Cash register status query parameter</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="APNumberList" type="APNumberListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A pénztárgépek listája, amelyre a lekérdezés vonatkozik</xs:documentation>
					<xs:documentation xml:lang="en">List of cash register AP numbers</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashRegisterFileDataType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Egy naplóállomány adata</xs:documentation>
			<xs:documentation xml:lang="en">Data of one cash register file</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cashRegisterFile" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Naplóállomány</xs:documentation>
					<xs:documentation xml:lang="en">Cash register file</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileValidationResultCode" type="ValidationResultCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Naplóállomány validációs eredmény</xs:documentation>
					<xs:documentation xml:lang="en">File validation result</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileValidationErrorCode" type="SimpleText100NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Validációs hibakód</xs:documentation>
					<xs:documentation xml:lang="en">Validation error code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueryCashRegisterStatusRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A pénztárgép állapot lekérdezés operáció kérés típusa</xs:documentation>
			<xs:documentation xml:lang="en">Request type of the cash register status query operation</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRequestType">
				<xs:sequence>
					<xs:element name="cashRegisterStatusQuery" type="CashRegisterStatusQueryType">
						<xs:annotation>
							<xs:documentation xml:lang="hu">A pénztárgép állapot lekérdezés paramétere</xs:documentation>
							<xs:documentation xml:lang="en">Paramateres of the cash register status query</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QueryCashRegisterStatusResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A pénztárgép állapot lekérdezés operáció válasz típusa</xs:documentation>
			<xs:documentation xml:lang="en">Response type of the cash register status query operation</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicResponseType">
				<xs:sequence>
					<xs:element name="cashRegisterStatusResult" type="CashRegisterStatusResultType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="hu">A pénztárgép állapot lekérdezés eredménye</xs:documentation>
							<xs:documentation xml:lang="en">Cash register status query result</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QueryCashRegisterFileDataRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A naplóállomány lekérdezés operáció kérés típusa</xs:documentation>
			<xs:documentation xml:lang="en">Request type of the cash register file query operation</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicRequestType">
				<xs:sequence>
					<xs:element name="cashRegisterFileDataQuery" type="CashRegisterFileDataQueryType">
						<xs:annotation>
							<xs:documentation xml:lang="hu">A naplóállomány lekérdezés paramétere</xs:documentation>
							<xs:documentation xml:lang="en">Paramateres of the cash register file query</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QueryCashRegisterFileDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A naplóállomány lekérdezés operáció válasz típusa</xs:documentation>
			<xs:documentation xml:lang="en">Response type of the cash register file query operation</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BasicResponseType">
				<xs:sequence>
					<xs:element name="cashRegisterFileDataResult" type="CashRegisterFileDataResultType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="hu">A naplóállomány lekérdezés eredménye</xs:documentation>
							<xs:documentation xml:lang="en">Cash register file query result</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SoftwareType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A kliensprogram adatai</xs:documentation>
			<xs:documentation xml:lang="en">Client software data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="softwareId" type="SoftwareIdType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kliensprogram azonosítója</xs:documentation>
					<xs:documentation xml:lang="en">Client software ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="softwareName" type="SimpleText50NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kliensprogram neve</xs:documentation>
					<xs:documentation xml:lang="en">Client software name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="softwareOperation" type="SoftwareOperationType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kliensprogram működési típusa (lokális program vagy online szolgáltatás)</xs:documentation>
					<xs:documentation xml:lang="en">Client software operation type (local program or online service)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="softwareMainVersion" type="SimpleText15NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kliensprogram főverziója</xs:documentation>
					<xs:documentation xml:lang="en">Client software main version</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="softwareDevName" type="SimpleText512NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kliensprogram fejlesztőjének neve</xs:documentation>
					<xs:documentation xml:lang="en">Name of the Client software's developer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="softwareDevContact" type="SimpleText200NotBlankType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kliensprogram fejlesztőjének elektronikus elérhetősége</xs:documentation>
					<xs:documentation xml:lang="en">Electronic contact of the Client software's developer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="softwareDevCountryCode" type="CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kliensprogram fejlesztőjének ISO-3166 alpha2 országkódja</xs:documentation>
					<xs:documentation xml:lang="en">ISO-3166 alpha2 country code of the Client software's developer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="softwareDevTaxNumber" type="SimpleText50NotBlankType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kliensprogram fejlesztőjének adószáma</xs:documentation>
					<xs:documentation xml:lang="en">Tax number of the Client software's developer</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserHeaderType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A kérés authentikációs adatai</xs:documentation>
			<xs:documentation xml:lang="en">Authentication data of the request</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="login" type="LoginType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A technikai felhasználó login neve</xs:documentation>
					<xs:documentation xml:lang="en">Login name of the technical user</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="passwordHash" type="Sha512HashType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A technikai felhasználó jelszavának nagybetűsített SHA2-512 hash értéke</xs:documentation>
					<xs:documentation xml:lang="en">Uppercase SHA2-512 hash value of the technical user's password</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxNumber" type="TaxpayerIdType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A rendszerben regisztrált adózó adószáma, aki nevében a technikai felhasználó tevékenykedik</xs:documentation>
					<xs:documentation xml:lang="en">The taxpayer's tax number, whose name the technical user operates in</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestSignature" type="Sha512HashType">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kérés aláírásának nagybetűsített SHA3-512 hash értéke</xs:documentation>
					<xs:documentation xml:lang="en">Uppercase SHA3-512 hash value of the request's signature</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="APNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">AP szám típus</xs:documentation>
			<xs:documentation xml:lang="en">AP Number type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:minLength value="9"/>
			<xs:pattern value="[A-Z][0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Országkód típus ISO 3166 alpha-2 szabvány szerint</xs:documentation>
			<xs:documentation xml:lang="en">Country code type (ISO 3166 alpha-2)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FileNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Fájl sorszám típus</xs:documentation>
			<xs:documentation xml:lang="en">File Number type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="RequestVersionType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Kérés/válasz verzió típus</xs:documentation>
			<xs:documentation xml:lang="en">Request header type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EntityIdType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Generált azonosító típus</xs:documentation>
			<xs:documentation xml:lang="en">Generated ID type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[+a-zA-Z0-9_]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HeaderVersionType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Fejléc verzió típus</xs:documentation>
			<xs:documentation xml:lang="en">Header version type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.0">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Alapérték</xs:documentation>
					<xs:documentation xml:lang="en">Default</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LoginType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Felhasználónév típus</xs:documentation>
			<xs:documentation xml:lang="en">Login type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[a-zA-Z0-9]{6,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Sha512HashType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Nagybetűsített SHA hash értéke</xs:documentation>
			<xs:documentation xml:lang="en">Uppercase SHA hash value</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="128"/>
			<xs:pattern value="[0-9A-F]{128}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleText100NotBlankType">
		<xs:annotation>
			<xs:documentation>Legfeljebb 100 karaktert tartalmazó szöveg típus</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleText1024NotBlankType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Legfeljebb 1024 karaktert tartalmazó szöveg típus</xs:documentation>
			<xs:documentation xml:lang="en">String of maximum 1024 characters</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleText15NotBlankType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Legfeljebb 15 karaktert tartalmazó szöveg típus</xs:documentation>
			<xs:documentation xml:lang="en">String of maximum 15 characters</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleText200NotBlankType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Legfeljebb 200 karaktert tartalmazó szöveg típus</xs:documentation>
			<xs:documentation xml:lang="en">String of maximum 200 characters</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleText50NotBlankType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Legfeljebb 50 karaktert tartalmazó szöveg típus</xs:documentation>
			<xs:documentation xml:lang="en">String of maximum 50 characters</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleText512NotBlankType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Legfeljebb 512 karaktert tartalmazó szöveg típus</xs:documentation>
			<xs:documentation xml:lang="en">String of maximum 512 characters</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="512"/>
			<xs:pattern value=".*[^\s].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxpayerIdType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Az adószám nyolc jegyű törzsszám része</xs:documentation>
			<xs:documentation xml:lang="en">The 8-digit core number section of the tax number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimestampType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Időbélyeg típus</xs:documentation>
			<xs:documentation xml:lang="en">Timestamp type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="2010-01-01T00:00:00Z"/>
			<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(.\d{1,3})?Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SoftwareIdType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A kliensprogram azonosítója</xs:documentation>
			<xs:documentation xml:lang="en">Client software ID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="18"/>
			<xs:pattern value="[0-9A-Z\-]{18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SoftwareOperationType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">A kliensprogram működési típusa (lokális program vagy online szolgáltatás)</xs:documentation>
			<xs:documentation xml:lang="en">Billing operation type (local program or online service)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LOCAL_SOFTWARE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Lokális program</xs:documentation>
					<xs:documentation xml:lang="en">Local program</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ONLINE_SERVICE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Online szolgáltatás</xs:documentation>
					<xs:documentation xml:lang="en">Online service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FunctionCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Funkciókód típus</xs:documentation>
			<xs:documentation xml:lang="en">Function code type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Sikeres művelet</xs:documentation>
					<xs:documentation xml:lang="en">Successful operation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Hiba</xs:documentation>
					<xs:documentation xml:lang="en">Error</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FilesNotSentReasonType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Annak az oka, hogy miért nem lett az összes kért naplóállomány elküldve</xs:documentation>
			<xs:documentation xml:lang="en">Reason of not all requested files sent</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SIZE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Méretkorlát miatt nem lett az összes állomány elküldve</xs:documentation>
					<xs:documentation xml:lang="en">Files aggregated size exceeds the file size limit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOT_AVAILABLE">
				<xs:annotation>
					<xs:documentation xml:lang="hu">A kért állományok nem állnak rendelkezésre a NAV naplóállomány lekérdező rendszerben</xs:documentation>
					<xs:documentation xml:lang="en">Requested files not available in the system</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ValidationResultCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="hu">Validációs eredmény kód típus</xs:documentation>
			<xs:documentation xml:lang="en">Validation result code type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ERROR">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Hiba</xs:documentation>
					<xs:documentation xml:lang="en">Error</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WARN">
				<xs:annotation>
					<xs:documentation xml:lang="hu">Figyelmeztetés</xs:documentation>
					<xs:documentation xml:lang="en">Warn</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OK">
				<xs:annotation>
					<xs:documentation xml:lang="hu">OK</xs:documentation>
					<xs:documentation xml:lang="en">OK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
